@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Justin's Blog</title>
</head>

<body>
    <div>
        <h1>Justin's Blogs</h1>
        <button asp-action="NewBlog">New Blog</button>
    </div>

</body>
</html>
